<!DOCTYPE html>
<html>
  <head>
<%- include layouts/metas %>
<%- include layouts/links %>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
<%- include layouts/scripts %>
  </body>
</html>
